@charset "UTF-8";
/* 
========================================
全体の初期設定
========================================
*/
* {
  text-decoration: none;
  list-style-type: none;
}
.container {
  margin: 0 50px;
}
img {
  display: block;
}
a {
  display: block;
  transition: all 0.5s;
}

/* 
========================================
ヘッダー設定
========================================
*/
header {
  position: relative;
  max-width: 1366px;
  height: 270px;
  margin: 0 auto;
}
header #headerLogo {
  position: absolute;
  top: 50px;
  left: 50px;
}
header #headerMenu {
  position: absolute;
  bottom: 36px;
  right: 50px;
}
header #headerMenu ul {
  font-size: 0;
}
header #headerMenu li {
  font-size: initial;
  display: inline-block;
}
header #headerMenu li:first-child {
  margin-right: 25px;
}
header #headerMenu li a {
  color: #1f5827;
  position: relative;
}
header #headerMenu li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #1f5827;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}
header #headerMenu li a:hover::after {
  transform: scale(1, 1);
}

/* 
========================================
フッター設定
========================================
*/
footer {
  padding-bottom: 50px;
  position: relative;
}
footer ul {
  font-size: 0;
  text-align: center;
  margin-bottom: 70px;
}
footer ul li {
  font-size: initial;
  display: inline-block;
}
footer ul li:first-child {
  margin-right: 25px;
}
footer ul li a {
  color: #1f5827;
  position: relative;
}
footer li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #1f5827;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}
footer li a:hover::after {
  transform: scale(1, 1);
}
footer p {
  color: #1f5827;
  text-align: right;
}
#returnTop {
  position: relative;
  display: block;
  height: 80px;
  width: 80px;
  color: #fff;
  background-color: rgba(31, 88, 39, 0.7);
  border-radius: 50%;
  font-size: 1.25rem;
  padding: 23px;
  transition: 0.5s;
}
#returnTop:hover {
  background-color: rgba(31, 88, 39, 1);
}
#returnTop p {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -18.315px;
}
#fixedBtn {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 5;
  bottom: 70px;
  right: 60px;
  transition: all 0.5s;
}
#fixedBtn.show {
  opacity: 1;
  visibility: visible;
}
#fixedBtn.absolute {
  position: absolute;
  top: -100px;
  bottom: auto;
}

/* 
========================================
トップページ：メインビジュアル設定
========================================
*/
#index #mainVisual {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url(../images/mainVisual.jpg);
  background-size: cover;
  background-position: center center;
}
#index #mainVisual .mainVisualConcept {
  font-family: "Noto Sans JP", sans-serif;
  position: absolute;
  top: 55%;
  right: 15%;
  margin-top: -161px;
  color: #fff;
  background-color: rgba(189, 204, 195, 0.6);
  box-shadow: 0 0 15px 15px rgb(189, 204, 195, 0.6);
  border-radius: 50%;
  padding: 80px;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 4rem;
  text-align: left;
}
#index #mainVisual .mainVisualConcept p:nth-child(2) {
  margin-left: 5rem;
}

/* 
========================================
トップページ：各セクション設定
========================================
*/
#index main {
  color: #555555;
}
#index main h2 {
  color: #1f5827;
  margin-top: 115px;
  margin-bottom: 90px;
  text-align: center;
  font-size: 3.75rem;
  font-weight: normal;
}
#index main h3 {
  font-size: 3.125rem;
  font-weight: normal;
  margin-bottom: 60px;
  padding: 0 20px 20px;
  border-bottom: 1px solid #555555;
}
#index main section {
  margin-bottom: 275px;
}
#index main a:hover {
  opacity: 0.7;
}

/* 
========================================
トップページ：Webセクション設定
========================================
*/
#index .webContents {
  width: 100%;
}
#index .webContentsList {
  width: 90%;
  display: flex;
  margin: 0 auto 200px;
}
#index .webVisual {
  width: 50%;
  margin-right: 35px;
}
#index .webVisual a {
  border: 1px solid #ddd;
}
#index .webVisual img {
  max-width: 100%;
  height: auto;
}
#index .webInfo {
  width: 50%;
  position: relative;
}
#index .webInfo .webTitle h4 {
  font-size: 2.75rem;
  line-height: 44px;
  margin-bottom: 10px;
}
#index .webInfo .webTitle p {
  color: #4b4d4c;
  font-size: 1.25rem;
}
#index .webInfo .webDetail {
  position: absolute;
  bottom: 0;
}
#index .webInfo .webDetail li {
  margin-bottom: 5px;
}
#index .webInfo .webDetail li:nth-child(3) {
  margin-bottom: 0;
}
/* 
========================================
トップページ：logoセクション設定
========================================
*/
#index #logo ul {
  display: flex;
}
#index #logo ul li {
  width: 33.333%;
}
#index #logo ul li img {
  width: 100%;
  height: auto;
}

/* 
========================================
トップページ：businessCardセクション設定
========================================
*/
#index #businessCard ul {
  display: flex;
}
#index #businessCard ul li {
  width: 33.333%;
}
#index #businessCard ul li img {
  width: 100%;
  height: auto;
}

/* 
========================================
トップページ：productDesignセクション設定
========================================
*/
#index #productDesign ul {
  display: flex;
}
#index #productDesign ul li {
  width: 33.333%;
}
#index #productDesign ul li img {
  width: 100%;
  height: auto;
}

/* 
========================================
制作ページ（共通）
========================================
*/
.wrapper {
  width: 800px;
  margin: 0 auto;
}
.common h1 {
  color: #1f5827;
  margin-bottom: 35px;
  text-align: center;
  font-size: 2.75rem;
  font-weight: normal;
}
#switchWorks {
  font-size: 0;
  text-align: center;
  margin-bottom: 95px;
}
#switchWorks li {
  display: inline-block;
  margin-right: 25px;
  font-size: initial;
}
#switchWorks li:last-child {
  margin-right: 0;
}
#switchWorks li a {
  color: #555555;
  position: relative;
}
#switchWorks li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #555555;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}
#switchWorks li a:hover::after {
  transform: scale(1, 1);
}
.common main h2 {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 60px;
  padding: 0 20px 20px;
  color: #555555;
  border-bottom: 1px solid #555555;
}
.workItem a:hover {
  opacity: 0.7;
}
.common .workItem {
  margin-bottom: 200px;
}
.common main img {
  max-width: 100%;
  height: auto;
  margin: 0 auto 30px;
}
.common .mainInfo {
  color: #4b4d4c;
  height: 80px;
  margin-bottom: 30px;
  overflow: hidden;
}
.common .mainInfo i {
  color: #4b4d4c;
}
.common .mainInfo h3.webTitle {
  font-size: 2.5rem;
  line-height: 44px;
  color: #4b4d4c;
  display: inline-block;
}
.common .mainInfo a {
  float: left;
}
.common .webDetail {
  display: inline-block;
  padding: 2px 0 2px 15px;
  margin-left: 20px;
  border-left: 2px solid #4b4d4c;
}
.common .webDetail li {
  margin-bottom: 2px;
}
.common .webDetail li:last-child {
  margin-bottom: 0;
}
.common .subInfo p {
  font-size: 1.25rem;
  color: #4b4d4c;
  margin-bottom: 20px;
}
.common .pointDescription ul {
  padding-left: 40px;
  color: #4b4d4c;
}
.common .pointDescription ul li {
  list-style-type: circle;
  margin-bottom: 15px;
}
.common .pointDescription ul li:last-child {
  margin-bottom: 0;
}

/* 
========================================
制作ページ（各ページ）
========================================
*/
#web .workItem a img {
  border: 1px solid #ddd;
}
.others .wrapper {
  width: 100%;
}
.others .workItem {
  display: flex;
  justify-content: center;
}
.others .workItem img {
  max-width: 100%;
  height: auto;
  margin: 0;
}
.others .infos {
  width: 550px;
}
.others .infos .mainInfo {
  overflow: visible;
  height: 135px;
}
.others .mainInfo a {
  float: none;
}
.others .mainInfo .webDetail {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 15px;
  margin-left: 30px;
  display: block;
}
#businessCard .workItem .workVisual,
#productDesign .workItem .workVisual {
  margin-right: 70px;
}

/* 
========================================
自己紹介ページ（about）
========================================
*/
#about h1 {
  color: #1f5827;
  margin-bottom: 75px;
  text-align: center;
  font-size: 2.75rem;
  font-weight: normal;
}
#about #profile {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto 100px;
}
#about #profilePhoto img {
  width: 100%;
  height: auto;
}
#about #intro {
  width: 40%;
  margin-left: 30px;
}
#about #name {
  margin-bottom: 40px;
  color: #4b4d4c;
}
#about #name h2 {
  font-size: 2.5rem;
  line-height: 40px;
  margin-bottom: 5px;
}
#about #name h3 {
  font-size: 1.25rem;
}
#about #profileDescription {
  color: #4b4d4c;
}
#about #profileDescription p:first-child {
  color: #3f924b;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
#about h4 {
  width: 1000px;
  margin: 0 auto 60px;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  padding: 0 20px 20px;
  color: #555555;
  border-bottom: 1px solid #555555;
}
#about #profileContent {
  margin: 0 auto 275px;
  width: 1000px;
  border-left: 10px solid #e0e8e1;
  padding-left: 20px;
}
#about #profileContent h5 {
  color: #90b795;
  font-size: 2rem;
  margin-bottom: 5px;
}
#about #profileContent p {
  margin-bottom: 40px;
  color: #4b4d4c;
  text-align: left;
}
#about #profileContent span {
  display: block;
}
#about #skills {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto 275px;
}
#about #skills li {
  display: inline-block;
  width: 25%;
  padding: 30px;
}
#about #skills li img {
  width: 100%;
  height: auto;
}
